<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lbt.com.amthuc">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_MAP" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Views.FplashScreens.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.FplashScreens.IndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.FplashScreens.SelectKhuVucActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Main.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.ChiTietBaiViet.ChiTietBaiVietActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.LoginRegister.MainLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TaiKhoan.TaiKhoanMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TaiKhoan.CapNhatTaiKhoanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Main.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TaiKhoan.admin.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TaiKhoan.BaiVietDaLuuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TaiKhoan.dangbaiviet.DangBaiVietActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TaiKhoan.chinhsuabaiviet.ChinhSuaBaiVietActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TaiKhoan.thanhphan.ThemThanhPhanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TaiKhoan.thanhphan.DanhSachThanhPhanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TaiKhoan.ThemGoiY.ThemGoiYActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Views.ChiTietBaiViet.GoogleMapActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>